.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #EEE;
}

.Cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  max-width: 350px; 
  text-align: center;
  background: #FFF;
}
.Cadastro > form{
  display: flex;
  flex-direction: column;

}