.ContainerLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/img/Folhas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: linear-gradient(-90deg,#7159c1,#ab59c1); */

}
.Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  max-width: 260px; 
  text-align: center;
  background: transparent;
  width: 100%;
  padding: 15px;
}

.Login > form{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}

.CampoLogin{
  padding: 10px;
  background: rgba(194, 49, 209, 0.6);
  color: #FFF;
  border: 0;
}

.CampoLogin::placeholder{
  color: #EEE;
}
.BotaoEntrar{
  padding: 13px;
  background: rgba(94, 56, 164, 1);
  border: 0;
  color: #FFF;
  font-size: 16px; 
  transition: background 0.4s;
}
.BotaoEntrar:hover{
  background: #170636;
  cursor: pointer;
}
.Login > h1{
  font-family: comic-sans, helvetica;
  color: #FFF;
}
.Login > form > a{
  color: #FFF;
}
.BotaoSenha{
  height: 100%;
  padding: 0;
  width: 100%;
}
.Login > form > div{
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}